<md-card class="todoapp">
  <md-toolbar color="primary">
    Configuration
    <button md-fab class="fab-add" (click)="todoDialog()" md-tooltip="Ajouter élément">
      <md-icon>add</md-icon>
    </button>
  </md-toolbar>

  <md-card-content *ngIf="configList.length">
    <md-list>
      <form>
        <md-list-item *ngFor="let elem of configList ">

          <div class="list-item" style="width: 100%;">
            <md-checkbox color="primary" type="checkbox" [name]="'item'+index" [(ngModel)]="elem.completed">
              <span [class.completed]="elem.completed">{{elem.repertoire}}</span>
              <span [class.completed]="elem.completed">{{elem.value}}</span>
            </md-checkbox>

            <span>
           <button md-mini-fab (click)="remove(index)" color="primary">
             <md-icon>delete_forever</md-icon>
           </button>

           <button md-mini-fab (click)="todoDialog(elem)" color="primary"
                   [disabled]="elem.completed">
             <md-icon>mode_edit</md-icon>
           </button>
         </span>
          </div>

        </md-list-item>
      </form>
    </md-list>
  </md-card-content>
</md-card>


<app-dialog [template]="'Configuration:'"
            [okText]="okButtonText"
            [configElem]="currentConfig"
            (valueEmitted)="updateTodo($event)"
            [showDialog]="showDialog">
</app-dialog>


