<div [class.dark-theme]="isDarkTheme">
  <md-toolbar color="primary">
    <span>
      <md-icon class="material-icons md-light">face</md-icon>
      SODEC Configuration
    </span>
    <button md-icon-button [md-menu-trigger-for]="menu">
      <md-icon>more_vert</md-icon>
    </button>
  </md-toolbar>

  <md-menu x-position="before" #menu="mdMenu">
    <button md-menu-item (click)="openDialog()">Settings</button>
    <button md-menu-item (click)="isDarkTheme=!isDarkTheme">Toggle theme</button>
    <button md-menu-item>Help</button>
  </md-menu>


  <md-sidenav-layout>

    <md-sidenav md-component-id="left" mode="side" class="md-sidenav-left" #sidenavleft>

      <section>

        <button md-raised-button [routerLink]="['/edit-detail']">Configuration</button>

        <button md-raised-button  (click)="openNotimplemented()">Configuration (2)</button>
        <button md-raised-button  (click)="openNotimplemented()">Anomalies</button>

        <button md-raised-button [routerLink]="['/dogs']" #buttonDogs >Chiens</button>
        <button md-raised-button [routerLink]="['/kendo-grid']" #buttonTableauKendo >Tableau Kendo</button>
        <button md-raised-button [routerLink]="['/kendo-upload']" #buttonKendoUpload>Téléchargement de fichiers</button>
        <button md-raised-button [routerLink]="['/dujardin-superbasic-datatable']">Table de base (ng-matériel)</button>

        <button md-raised-button (click)="openNotimplemented()">Autres</button>
      </section>
    </md-sidenav>

    <md-sidenav align="end" mode="side" #sidenav>

    </md-sidenav>



    <div class="app-content">
      <router-outlet></router-outlet>
    </div>


  </md-sidenav-layout>
</div>
