<div [class.dark-theme]="isDarkTheme">
  <md-toolbar color="primary">
    <span>
      <md-icon class="material-icons md-light">face</md-icon>
      SODEC Configuration
    </span>
    <button md-icon-button [md-menu-trigger-for]="menu">
      <md-icon>more_vert</md-icon>
    </button>
  </md-toolbar>

  <md-menu x-position="before" #menu="mdMenu">
    <button md-menu-item (click)="openDialog()">Settings</button>
    <button md-menu-item (click)="isDarkTheme=!isDarkTheme">Toggle theme</button>
    <button md-menu-item>Help</button>
  </md-menu>


  <md-sidenav-layout>

    <md-sidenav md-component-id="left" mode="side" class="md-sidenav-left" #sidenavleft>

      <section>
        <button md-raised-button #boutonConfiguration>Configuration<md-icon>check</md-icon></button>

        <button md-raised-button  (click)="openNotimplemented()">Anomalies</button>

        <button md-raised-button [routerLink]="['/dogs']">Chiens</button>

        <button md-raised-button (click)="openNotimplemented()">Autres</button>
      </section>
    </md-sidenav>

    <md-sidenav align="end" mode="side" #sidenav>


      <!--<md-tab-group>-->
        <!--<md-tab>-->
          <!--<template md-tab-label>Details</template>-->
          <!--<template md-tab-content>-->
            <!--<p>Name: {{currentDog.name}}</p>-->
            <!--<p>Human: {{currentDog.human}}</p>-->
            <!--<p>Age: {{currentDog.age}}</p>-->
            <!--<button md-raised-button (click)="sidenav.close()" color="accent">CLOSE</button>-->
          <!--</template>-->
        <!--</md-tab>-->
        <!--<md-tab>-->
          <!--<template md-tab-label>Feed</template>-->
          <!--<template md-tab-content></template>-->
        <!--</md-tab>-->
      <!--</md-tab-group>-->
      <!---->

    </md-sidenav>


    <!-- Dogs component -->

    <!--<md-grid-list cols="4" rowHeight="200px">-->
      <!--<md-grid-tile *ngFor="let dog of dogs" [rowspan]="dog.rows">-->
        <!--<img src="assets/{{dog.name}}.png" alt="photo of {{dog.name}}">-->
        <!--<md-grid-tile-footer>-->
          <!--<h3 md-line>{{dog.name}}</h3>-->
          <!--<span md-line>Human: {{dog.human}}</span>-->
          <!--<button md-icon-button (click)="showDog(dog)">-->
            <!--<md-icon>info</md-icon>-->
          <!--</button>-->
        <!--</md-grid-tile-footer>-->
      <!--</md-grid-tile>-->
    <!--</md-grid-list>-->

    <div class="app-content">
      <router-outlet></router-outlet>
    </div>


  </md-sidenav-layout>
</div>
